amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
defusedxml==0.4.1
Django==1.8.3
django-appconf==1.0.1
django-compressor==1.5
django-libsass==0.4
djangorestframework==3.3.2
geopy==1.11.0
httplib2==0.9.1
kombu==3.0.35
libsass==0.8.3
osmapi==0.6.0
psycopg2==2.6.1
python-dateutil==2.4.2
pytz==2015.6
six==1.10.0
unicodecsv==0.14.1
