footer {
	text-align: center;
}

body {
	background-color: lightgreen;
}

.right{
	text-align: right;
	float: right;
}

.spinner{height:30px;width:30px;background-color: red; }

/******************************************************************************/
/*                                 Menu                                       */
/******************************************************************************/
.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}


/******************************************************************************/
/*                              Homepage                                      */
/******************************************************************************/
.station{
	margin-bottom: 2em;
	background-color: lightblue;
}

.info-up {
	padding-bottom: 0.5em;
	border-bottom: 0.25em solid black;
	margin-bottom: 0.75em;
}

	.info-up.name {
		text-transform: uppercase;
	}

.transport-company img{
	width: 1.5em;
}

/******************************************************************************/
/*                               Spinner                                      */
/******************************************************************************/

.spinner {
  width: 40px;
  height: 40px;
  background-color: red;
  display: none;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}