footer {
	text-align: center;
}

body, html {
	background-color: #FFF;
}


/******************************************************************************/
/*                                 Menu                                       */
/******************************************************************************/

nav {
  background-color: #cdcdcd;
  /*position:fixed;
  bottom: 0px;*/
}

.footer {
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
}

.navbar-left, .navbar-right {
  padding: 0 1em;
}

.is-hidden {
  display: none;
}
.is-flex-right{ 
  justify-content: flex-end;
}
.is-flex-justify {
  justify-content: space-around;
  align-items: baseline;
}

/******************************************************************************/
/*                                Icons                                       */
/******************************************************************************/

i {
    font-size: 2em;
}

/******************************************************************************/
/*                              Homepage                                      */
/******************************************************************************/
body {
    margin: 2em 0em;
}

.none {
    display: none;
}

.station, .log-card{
	margin-bottom: 2em;
  border: 0.1em solid #D4D4D4;
  background-color: #F3F3F3;
  padding: 1em;
  box-shadow: 0px 13px 36px -8px rgba(112,112,112,0.42);
}

a.station_link {
  text-decoration: none;
  color: inherit;
}

.info-up {
	padding-bottom: 0.5em;
	/*border-bottom: 0.25em solid black;*/
	margin-bottom: 0.75em;
}

	.info-up.name {
		text-transform: uppercase;
	}

.info-routes {
	border-bottom: 0.1em solid #7D7D7D;
}

.transport-company img{
	width: 1.5em;
}
  .transport-company{
      display:inline-block;
  }


/******************************************************************************/
/*                               Form                                         */
/******************************************************************************/

legend {
    font-size: 2em;
    text-transform: uppercase;
}

.recover_password {
    color: blue;
    text-transform: uppercase;
    cursor: help;
}

fieldset p {
    margin: 1em 0;
}

.redborder{
  border: 2px solid red;
  color: red;
}

/******************************************************************************/
/*                               Companies                                    */
/******************************************************************************/

.moveon-company {
  margin-bottom: 1em;
  border: 0.1em solid #D4D4D4;
  background-color: #F3F3F3;
  padding: 1em;
  box-shadow: 0px 13px 36px -8px rgba(112,112,112,0.42);
  display: flex;
}

  .moveon-company a {
    text-decoration: none;
    color: inherit;
  }
  .moveon-company img {
    width: 10em;
    min-width: 10em;
  }
  .moveon-company h1 {
    margin-left: 1em;
    font-size: 1.5em;
  }
  .moveon-company_day p {
    flex-basis: 10em;
  }
  .moveon-company__route {
    margin-left: 2em;
  }

  .moveon-company--list {
    display: block;
  }

  .moveon-company_day {
    display:block;
  }

/******************************************************************************/
/*                               Timetable                                      */
/******************************************************************************/

.timetable--entry {
    margin-bottom: 0.45em;
    width: 20em;
}

p.timetable--entry:nth-child(odd) {

}

p.timetable--entry:nth-child(even) {

}

#timetable--form {
  
}
#timetable--form fieldset {
  display: flex;
}

/* Medium screens */
@media all and (min-width: 400px) {
  .none{
    display: inline-block;
  }
  .moveon-company img{

  }
  .moveon-company h1{
  }
}