footer {
	text-align: center;
}

body {
	background-color: #FFF;
}

.right{
	text-align: right;
	float: right;
}

.spinner{height:30px;width:30px;background-color: red; }

/******************************************************************************/
/*                                 Menu                                       */
/******************************************************************************/

nav {
background-color: #cdcdcd;
/*height: 100px;
text-align: center;
font-size:10px;
color:#CC0000;
font-family:Verdana;
padding-top: 10px;
width: 1000px;*/
position:fixed;
bottom: 0px;
}

/******************************************************************************/
/*                                Icons                                       */
/******************************************************************************/


i {
    font-size: 2em;
}

/******************************************************************************/
/*                              Homepage                                      */
/******************************************************************************/
.layout {
    margin: 2em 0em;
}

.none {
    display: none;
}

.station, .log-card{
	margin-bottom: 2em;
  border: 0.1em solid #D4D4D4;
  background-color: #F3F3F3;
  padding: 1em;
  box-shadow: 0px 13px 36px -8px rgba(112,112,112,0.42);
}

a.station_link {
  text-decoration: none;
  color: inherit;
}

.info-up {
	padding-bottom: 0.5em;
	border-bottom: 0.25em solid black;
	margin-bottom: 0.75em;
}

	.info-up.name {
		text-transform: uppercase;
	}

.info-routes {
	border-bottom: 0.1em solid #7D7D7D;
}

.transport-company img{
	width: 1.5em;
}


    .transport-company{
        display:inline-block;
    }


/******************************************************************************/
/*                               Form                                         */
/******************************************************************************/

legend {
    font-size: 2em;
    text-transform: uppercase;
}

.recover_password {
    color: blue;
    text-decoration: underline;
}

/******************************************************************************/
/*                               Spinner                                      */
/******************************************************************************/

.spinner {
  width: 40px;
  height: 40px;
  background-color: red;
  display: none;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* Medium screens */
@media all and (min-width: 400px) {
  .none{
    display: inline-block;
  }
}