<div class="columns">
    <div class="moveon-company column is-half is-offset-quarter is-flex is-flex-ends">
        <a class="" href="{% url 'route' company.code line.code route.osmid %}">
            Route --> {{ route.name }} 
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'timetable' company.code line.code route.osmid %}">
                <button class="button is-primary">
                    Write the timetable
                </button>
            </a>
        {% endif %}
    </div>
</div>