<div class="columns">
    <div class="moveon-company column is-half is-offset-quarter is-flex is-flex-justify">
        <a class="" href="{% url 'route' company.code line.code route.osmid %}">
            Route --> {{ route.name }} 
        </a>
        {% if user.is_authenticated %}
        	<button class="button is-primary">
        		<a href="{% url 'timetable' company.code line.code route.osmid %}">
        			Write the timetable
        		</a>
        	</button>
        {% endif %}
    </div>
</div>