<div class="columns">
    <div class="column moveon-company is-flex is-column is-half is-offset-quarter">
        <div class="station_header is-flex">
            <span class="name"> <span class="is-hidden-mobile">[{{ station.code }}]</span> {{ station.name }} </span>  
            <span class="distance"> {{ station.distance }} m</span>
        </div>
        <div class="station_info is-flex">
            {% if station.available %}
                <span class="transports">
                    <i class="material-icons">directions_bus</i> 
                </span>
                <span class="extras">
                    {% if station.adapted %}
                        <i class="material-icons">accessible</i> 
                    {% endif %}
                    {% if station.shelter %}
                        <i class="material-icons">beach_access</i> 
                    {% endif %}
                    {% if station.bench %}
                        <i class="material-icons">airline_seat_legroom_extra</i> 
                    {% endif %}
                </span>
            {% else %}
                Sorry, but this station is not available in the moment. You can go to the nearest station <a href="#">Here</a>
            {% endif %}
        </div>
        <div class="station_routes">
            {% for route in station.routes %}
                <div class="station_routes--info is-flex">
                    <span class="route-info">
                        <i class="is-hidden-mobile material-icons">directions_bus</i>
                        <img class="is-hidden-mobile is-small-image" src="{{ route.company_icon }}"></img> 
                        <span class="route-color" style="background-color:{{ route.colour }}"> {{route.code}} </span> {{ route.name }}
                    </span>
                    <span class="next-vehicle">
                        {% for next_vehicle in route.next_vehicles %}
                            <span> {{ next_vehicle }}m</span>
                        {% endfor %}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>