{% extends "index.html" %}
{% load color_filters %}

{% block content %}
    
    {% include "_company.html" %}

    {% for line in lines %}
    
        {% include "_line.html" %}

    {% empty %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter">
                <p>Sorry, this company has no lines yet.</p>
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter is-flex is-flex-justify">
                <p class="code control">Write your OSM code
                    <input type="code" placeholder="OSM code" maxsize="8">
                </p>
                <button type="submit" class="button is-primary" onclick="getOSMLine('id', $('input').val(), '{% url 'newline' company.code %}')">Add the new line!!</button>
            </div>
        </div>
    {% endif %}

{% endblock %}