{% extends "index.html" %}

{% block content %}
    {% for company in companies %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter">
                <a href="{% url 'company' company.code %}">
                    <img src="{{ company.logo }}" alt="{{ company.name }} logo">
                </a>
                <a href="{% url 'company' company.code %}">
                    <h1>{{ company.name }}</h1>
                </a>
            </div>
        </div>
    {% empty %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter">
                <p>Sorry, no companies available yet.</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}