{% extends "index.html" %}
{% load color_filters %}

{% block content %}
    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            <a href="{% url 'company' company.code %}">
                <img src="{{ company.logo }}" alt="{{ company.name }} logo">
            </a>
            <a href="{% url 'company' company.code %}">
                <h1>{{ company.name }}</h1>
            </a>
        </div>
    </div>

    {% for line in lines %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter">
                <a href="{% url 'line' company.code line.code %}"
                    style="color: {{ line.colour | text_color_from_background }}">
                    <div style="background-color: {{ line.colour }}">
                        {{ line.code }} - {{ line.name }} ({{ line.transport }} line)
                    </div>
                </a>
            </div>
        </div>
    {% empty %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter">
                <p>Sorry, this company has no lines yet.</p>
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter is-flex-right">
            <button class="button is-primary"><a href="{% url 'newline' company.code %}">Add a new line</a></button>
            </div>
        </div>
    {% endif %}
    
{% endblock %}