<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MoveOn Web</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/fontello-embedded.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <!-- JS -->
        <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="/static/js/main.js"></script>

        {% block head %}
        {% endblock %}
    </head>
    
    <body>
        {% block content %}
        {% endblock content %}
    </body>

    <!-- Menu/footer -->
    <div class="container is-fluid is-marginless footer">
        <nav class="navbar">
            <div class="navbar-left">
                <!-- <p class="navbar-item"><a class="button is-success">New</a></p> -->
                {% if not user.is_authenticated %}<p class="navbar-item"><a href="{% url 'moveon_login' %}">Login</a></p>{% endif %}
                {% if user.is_authenticated %}    <p class="navbar-item"><a href="{% url 'moveon_logout' %}">Logout</a></p>{% endif %}
            </div>
            <div class="navbar-right">
                <p class="is-hidden-mobile">MoveOn 2016</p>
            </div>
        </nav>
    </div>
</html> 
