{% extends "index.html" %}
{% load color_filters %}

{% block content %}
    
    {% include "_company.html" %}

    {% include "_line.html" %}

    {% for route in routes %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter">
                <a class="moveon-company__route" href="{% url 'route' company.code line.code route.osmid %}">
                    Route --> {{ route.name }}
                </a>
            </div>
        </div>
    {% empty %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter">
                <p>Sorry, this company has no routes yet.</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}