{% extends "index.html" %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="columns">
        <!-- Log in -->
        <div class="log-card column is-half is-offset-quarter login-card">
            <form name="login" class="" method="POST" action="{% url 'moveon_login' %}">{% csrf_token %}
                <fieldset>
                    <legend>Log in</legend>
                    <p><label for="username">Username
                        <input class="input" name="username" id="username" type="text" placeholder="Username" required>
                    </label></p>

                    <p><label for="password">Password
                        <input class="input" name="password" id="password" type="password" placeholder="Password" required>
                    </label></p>

                    <p><label for="remember" class="">
                        <input class="checkbox" id="remember" type="checkbox"> Remember me
                    </label></p>

                    <p class="form-buttons">
                        <input name="submit" class="button is-success" type="submit" value="Log in">
                        <button type="button" class="signup-button button is-primary" onclick="show_signup()">Create account</button></br>
                        <span class="recover_password" onclick="recover_password()">Forgot your password?</span>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="columns">
        <!-- Sign up -->
        <div class="log-card column is-half is-offset-quarter is-hidden">
            <form name="signup" class="" method="POST" action="{% url 'moveon_login' %}">{% csrf_token %}
                <fieldset>
                    <legend>Sign up</legend>

                    <p><label for="username2">Username
                        <input class="input" name="username2" id="username2" type="text" placeholder="Username">
                    </label></p>

                    <p><label for="email2">Email
                        <input class="input" name="email2" id="email2" type="email" placeholder="your@email.com" required>
                    </label></p>

                    <p><label for="password1">Password
                        <input class="input" name="password1" id="password1" type="password" placeholder="Password" required>
                    </label></p>

                    <p><label for="password2">Password again
                        <input class="input" name="password2" id="password2" type="password" placeholder="Repeat password" required>
                    </label></p>

                    <input name="submit" class="button is-success" type="submit" value="Sign up">
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}