{% extends "index.html" %}

{% block head %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}

    <div id="map-complete">
    </div>

    <script>
        function getBoundsMoveon(){
            var swne = map.getBounds();
            //call get_fenced_stations(bottom, left, top, right)
            $.ajax({
              type: "GET",
              url: '{% url 'index' %}api/v0/stations/fenced'+'/'+swne._sw.lat+'/'+swne._sw.lng+'/'+swne._ne.lat+'/'+swne._ne.lng+'/',
              headers: {
                Accept: 'application/json'
              }
            }).done(function( data ) {
            	var features = [];
                for (var i = 0; i < data.length; i++) {
                    features.push(
                            {
                              "type": "Feature",
                              "geometry": {
                                "type": "Point",
                                "coordinates": [data[i].longitude , 
                                                data[i].latitude ]
                              },
                              "properties": {
                                    "description": "<div class='marker-title'><a onclick='getLocationRedirection(\"/moveon/stations/" + data[i].pk + "/\");'>"+data[i].code + " - " + data[i].name + "</a></div>",
                                    "marker-symbol": "bus",
                                    "marker-color": "#123456"
                                }
                            }
                        );
                }
                stationsSource.setData({
                    "type": "FeatureCollection",
                    "features": features });
            });
        }

        $( document ).ready(function() {
            getBoundsMoveon();
        });
        
        mapboxgl.accessToken = 'pk.eyJ1Ijoiaml1Y2siLCJhIjoiY2lrcGJ6NWZkMDBiYXZxbHNjdGQzdGllaCJ9.bgTUEJPNl-T44l5t6sNv8g';
        if (!mapboxgl.supported()) {
            alert('Your browser does not support Mapbox GL. Please, install or use Mozilla Firefox, Google Chrome or Opera ');
        } else {
            var map = new mapboxgl.Map({
                container: 'map-complete',
                style: 'mapbox://styles/mapbox/streets-v8',
                center: [{{ location.lon }}, 
                         {{ location.lat }}],
                zoom: 15
            });

            var stations = {
              "type": "FeatureCollection",
              "features": [

                {% for station in near_stations %}
                    {
                      "type": "Feature",
                      "geometry": {
                        "type": "Point",
                        "coordinates": [{{ station.stop_node.longitude }}, 
                                        {{ station.stop_node.latitude }}]
                      },
                      "properties": {
                            "description": "<div class='marker-title'><a onclick='getLocationRedirection(\"{% url 'station' station.osmid %}\");'>{{ station.code }} - {{ station.name }}</a></div>",
                            "marker-symbol": "bus",
                            "marker-color": "#123456"
                        }
                    },
                {% endfor %}
                
              ]
            }
			
            var stationsSource = new mapboxgl.GeoJSONSource({
                data: stations
            });
            
            map.on('style.load', function () {

                map.addSource("markers", stationsSource);

                map.addLayer({
                    "id": "markers",
                    "interactive": true,
                    "type": "symbol",
                    "source": "markers",
                    "layout": {
                        "icon-image": "{marker-symbol}-15",
                        "text-field": "{title}",
                        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                        "text-offset": [0, 0.6],
                        "text-anchor": "top"
                    }
                });
            });

            var popup = new mapboxgl.Popup();

            // When a click event occurs near a marker icon, open a popup at the location of
            // the feature, with description HTML from its properties.
            map.on('click', function (e) {
                map.featuresAt(e.point, {
                    radius: 7.5, // Half the marker size (15px).
                    includeGeometry: true,
                    layer: 'markers'
                }, function (err, features) {
                    if (err || !features.length) {
                        popup.remove();
                        return;
                    }

                    var feature = features[0];

                    // Populate the popup and set its coordinates
                    // based on the feature found.
                    popup.setLngLat(feature.geometry.coordinates)
                        .setHTML(feature.properties.description)
                        .addTo(map);
                });getBoundsMoveon
            });
            // Use the same approach as above to indicate that the symbols are clickable
            // by changing the cursor style to 'pointer'.
            map.on('mousemove', function (e) {
                map.featuresAt(e.point, {
                    radius: 7.5, // Half the marker size (15px).
                    layer: 'markers'
                }, function (err, features) {
                    map.getCanvas().style.cursor = (!err && features.length) ? 'pointer' : '';
                });
            });
            map.on('moveend', getBoundsMoveon );
        }
    </script>

{% endblock %}
