{% extends "index.html" %}

{% block head %}
<script type="text/javascript">console.log("{{ location }}");</script>
{% endblock %}

{% block content %}
    <div class="container">
    {% for station in near_stations %}
        <a class="station_link" href="{% url 'station' station.osmid %}?userpos={{ location }}">

            {% include "_station.html" %}

        </a>
    {% empty %}
        <div class="no-points">
            <p>There is no Latitude and longitude. Please, activate your location or select a place in the map to search your nearest stops.</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}