{% extends "index.html" %}

{% block head %}
{% endblock %}

{% comment %}
    127.0.0.1:8000/moveon/stations/nearby?userpos=41.4003531,2.1899433#
    localhost:8000/moveon/stations/nearby?userpos=41.4003531,2.1899433#
{% endcomment %}

{% block content %}
    <div class="container">
    {% for station in near_stations %}
        <a class="station_link" href="{% url 'station' station.code %}">
            <div class="moveon-company column is-half is-offset-quarter station">
                    <div class="tabs info-up is-fullwidth">
                        <ul>
                            <li class="is-text-left">
                                <span class="name"> [{{ station.code }}] {{ station.name }} </span>
                            </li>
                            <li class="is-text-right">
                                <span class="distance"> {{ station.distance }} meters</span>
                            </li>
                        </ul>
                    </div>
                    {% for route in station.routes %}
                        <div class="info-routes">
                            <p>
                            <span class="transport-company image"> 
                                <img src="{{ route.company_icon }}"></img> 
                            </span>
                            <i class="demo-icon icon-{{ route.transport_type }}-24"></i>
                            <span class="routes"> 
                                <span class="route-color" style="background-color:{{ route.colour }}"> {{route.code}} </span> {{ route.name }} 
                            </span>
                            <span class="next-vehicle right">
                                {% for next_vehicle in route.next_vehicles %}
                                    <span> {{ next_vehicle }}m</span>
                                {% endfor %}
                            </span>
                            </p>
                        </div>
                    {% endfor %}
            </div>
        </a>
    {% empty %}
        <div class="no-points">
            <p>There is no Latitude and longitude. Please, activate your location or select a place in the map to search your nearest stops.</p>
        </div>
    {% endfor %}
    </div>
    <!-- <div class="spinner"></div> -->
{% endblock %}