{% extends "index.html" %}
{% load color_filters %}

{% block content %}
    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            <a href="{% url 'company' company.code %}">
                <img src="{{ company.logo }}" alt="{{ company.name }} logo">
            </a>
            <a href="{% url 'company' company.code %}">
                <h1>{{ company.name }}</h1>
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            <a href="{% url 'line' company.code line.code %}"
                style="color: {{ line.colour | text_color_from_background }}">
                <div style="background-color: {{ line.colour }}">
                    {{ line.code }} - {{ line.name }} ({{ line.transport }} line)
                </div>
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            <a class="moveon-company__route" href="{% url 'route' company.code line.code route.name %}">
                {{ route.name }}
            </a>
        </div>
    </div>

    {% for station in route.stations %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter">
                <!--<a class="moveon-company__route" href="{% url 'route' company.code line.code route.name %}">-->
                    {{ station.name }}
                <!-- </a> -->
            </div>
        </div>
    {% empty %}
        <div class="columns">
            <div class="moveon-company column is-half is-offset-quarter">
                <p>Sorry, this Route has no stations yet.</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}