{% extends "index.html" %}
{% load color_filters %}

{% block content %}
    
    {% include "_company.html" %}

    {% include "_line.html" %}

    {% include "_route.html" %}

    <div class="columns">
        <div class="moveon-company moveon-company--list column is-half is-offset-quarter">
            {% for station in stations %}
                <a class="moveon-company__route" onclick="getLocationRedirection('{% url "station" station.osmid %}')">
                    <p>{{ forloop.counter|stringformat:"03d" }} --> {{ station.code}} - {{ station }}</p>
                </a>
            {% empty %}
                <p>Sorry, this Route has no stations yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}