{% extends "index.html" %}

{% block head %}
{% endblock %}



{% block content %}
<div class="columns">
    <div class="column moveon-company is-flex is-column is-half is-offset-quarter">
        <div class="station_header is-flex">
            <span class="name"> <span class="is-hidden-mobile">[{{ station.code }}]</span> {{ station.name }} </span>
            <span class="distance"> {{ distance }} m</span>
        </div>
        <div class="station_info is-flex">
            {% if station.available %}
                <span class="transports">
                    CHANGE!<i class="demo-icon icon-bus-24"></i> 
                </span>
                <span class="extras">
                    {% if station.adapted %}
                        <i class="demo-icon icon-disability-24"></i> 
                    {% endif %}
                    {% if station.shelter %}
                        <i class="demo-icon icon-building-24"></i> 
                    {% endif %}
                    {% if station.bench %}
                        <i class="demo-icon icon-lodging-24"></i> 
                    {% endif %}
                </span>
            {% else %}
                Sorry, but this station is not available in the moment. You can go to the nearest station <a href="">Here</a>
            {% endif %}
        </div>
        <div class="station_routes">
                <div class="station_routes--info is-flex">
                    <span class="route-info">
                        <img class="is-hidden-mobile is-small-image" src="/static/image/favicon.ico"></img> 
                        <i class="is-hidden-mobile demo-icon icon-bus-24"></i>
                        <span class="route-color" style="background-color:green"> 169 </span> Sixty nine, 69
                    </span>
                    <span class="next-vehicle">
                        time1 | time2 | time3
                    </span>
                </div>
                <div class="station_routes--info is-flex">
                    <span class="route-info">
                        <img class="is-hidden-mobile is-small-image" src="/static/image/favicon.ico"></img> 
                        <i class="is-hidden-mobile demo-icon icon-heliport-24"></i>
                        <span class="route-color" style="background-color:yellow"> 169 </span> Sixty nine, 69
                    </span>
                    <span class="next-vehicle">
                        time1 | time2 | time3
                    </span>
                </div>
            {% for route in station.routes %}
                <div class="station_routes--info is-flex">
                    <span class="route-info">
                        <img class="is-hidden-mobile is-small-image" src="{{ route.company_icon }}"></img> 
                        <i class="is-hidden-mobile demo-icon icon-{{ route.transport_type }}-24"></i>
                        <span class="route-color" style="background-color:{{ route.colour }}"> {{route.code}} </span> {{ route.name }}
                    </span>
                    <span class="next-vehicle">
                        {% for next_vehicle in route.next_vehicles %}
                            <span> {{ next_vehicle }}m</span>
                        {% endfor %}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}