{% extends "index.html" %}
{% load color_filters %}

{% block head %}
    <!-- Adding support for datepickers in Firefox, MSIE and apple -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {
          $( "#datepicker" ).datepicker();
          $( "#datepicker2" ).datepicker();
        });
        console.log("{{ browser }}");
    </script>
{% endblock %}

{% block content %}
    
    {% include "_company.html" %}

    {% include "_line.html" %}

    {% include "_route.html" %}

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter is-flex is-column">
            <div class="is-flex moveon-company_calcdataform">
                <div class="moveon-company_day">
                    <p><input type="checkbox" name="day" value="monday"> Monday</p>
                    <p><input type="checkbox" name="day" value="tuesday"> Tuesday</p>
                    <p><input type="checkbox" name="day" value="wednesday"> Wednesday</p>
                    <p><input type="checkbox" name="day" value="thursday"> Thursday</p>
                    <p><input type="checkbox" name="day" value="friday"> Friday</p>
                    <p><input type="checkbox" name="day" value="saturday"> Saturday</p>
                    <p><input type="checkbox" name="day" value="sunday"> Sunday</p>
                    <p><input type="checkbox" name="day" value="holiday"> Holiday</p>
                </div>
                <div class="moveon-company_calcdata">
                    Mean Speed (km/h): <input class="input" name="mean_speed" type="number" max="100.0" min="0.0" step="0.01" onchange="verify_speed('mean_speed')" />
                    Start date: <input id="datepicker"  class="input" name="start-date" type="text" onchange="verify_date('start-date')" />
                    End Date:   <input id="datepicker2" class="input" name="end-date"   type="text" onchange="verify_date('end-date')"/>
                </div>
            </div>
            <div class="is-flex moveon-company_buttons">
                <button class="button is-primary" onclick="send_timetableCalculation({{ route.osmid }}, {{ stretch_id }})">Calculate times</button>
                <button class="button is-success" onclick="send_timetableAcceptation({{ route.osmid }}, {{ stretch_id }})">Accept</button> 
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter is-flex is-flex-justify">
            Upload the times with a CSV <input type="file" accept=".csv" name="csv" />
        </div>
    </div>

    <div class="columns is-flex">
        <div class="moveon-company moveon-company--list">
            {% for station in stations %}
                <p class="input">{{ station.code}} - {{ station }}</p><br>
            {% empty %}
                <p>Sorry, this Route has no stations yet.</p>
            {% endfor %}
        </div>
        {% for time_column in times %}
            <div class="moveon-company timetable--form">
                {% for time in time_column %}
                    {{ time }}
                {% endfor %}
            </div>
        {% empty %}
            <div class="timetable--container">
                <form id="timetable--form" class="is-flex">
                <fieldset id="timetable-column-0" class="moveon-company">
                    {% for station in stations %}
                        <input class="input" name="time-0-{{ station.osmid }}" type="text" onchange="verify_time('time-0-{{ station.osmid }}')" /><br>
                    {% endfor %}
                </fieldset>
                </form>
            </div>
            <div class="timetable--form">
                <button class="button is-primary" onclick="add_timetableColumn({{ serialize_ids|safe }})"> + </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}