{% extends "index.html" %}
{% load color_filters %}

{% block head %}
    <script>
        /*var serialize_ids = {{ serialize_ids|safe }};
        console.log(serialize_ids);
        console.log(serialize_ids[1]);
        console.log(serialize_ids.length);*/
    </script>
{% endblock %}

{% block content %}
    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            <a href="{% url 'company' company.code %}">
                <img src="{{ company.logo }}" alt="{{ company.name }} logo">
            </a>
            <a class="is-hidden-mobile" href="{% url 'company' company.code %}">
                <h1>{{ company.name }}</h1>
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            <a href="{% url 'line' company.code line.code %}"
                style="color: {{ line.colour | text_color_from_background }}">
                <div style="background-color: {{ line.colour }}">
                    {{ line.code }} - {{ line.name }} ({{ line.transport }} line)
                </div>
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            <a class="" href="{% url 'route' company.code line.code route.osmid %}">
                Route --> {{ route.name }}
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter ">
            <button class="button is-primary" onclick="send_timetableCalculation({{ route.osmid }}, {{ stretch_id }})">Calculate times</button>
            <button class="button is-success" onclick="send_timetableAcceptation({{ route.osmid }}, {{ stretch_id }})">Accept</button>
            <input class="input" name="mean_speed" type="number"/> km/h
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            <div class="moveon-company_day">
                <p><input type="checkbox" name="day" value="monday">Monday</p>
                <p><input type="checkbox" name="day" value="tuesday">Tuesday</p>
                <p><input type="checkbox" name="day" value="wednesday">Wednesday</p>
                <p><input type="checkbox" name="day" value="thursday">Thursday</p>
                <p><input type="checkbox" name="day" value="friday">Friday</p>
                <p><input type="checkbox" name="day" value="saturday">Saturday</p>
                <p><input type="checkbox" name="day" value="sunday">Sunday</p>
                <p><input type="checkbox" name="day" value="holiday">Holiday</p>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            Start date: <input class="input" name="start-date" type="date"/>
            End Date: <input class="input" name="end-date" type="date"/>
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company moveon-company--list">
            {% for station in stations %}
                <p class="input">{{ station.code}} - {{ station }}</p><br>
            {% empty %}
                <p>Sorry, this Route has no stations yet.</p>
            {% endfor %}
        </div>
        {% for time_column in times %}
            <div class="moveon-company timetable--form">
                {% for time in time_column %}
                    {{ time }}
                {% endfor %}
            </div>
        {% empty %}
            <div class="timetable--container">
                <form id="timetable--form" class="is-flex">
                <fieldset id="timetable-column-0" class="moveon-company">
                    {% for station in stations %}
                        <p><input class="input" name="time-0-{{ station.osmid }}" type="text"/></p>
                    {% endfor %}
                </fieldset>
                </form>
            </div>
            <div class="timetable--form">
                <button class="button is-primary" onclick="add_timetableColumn({{ serialize_ids|safe }})"> + </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}