{% extends "index.html" %}

{% block head %}
        <script>
        function testCode(key, value) {
            var info = '{"osmline": {"'+ key +'": '+value+'}}';
            var url  = window.location.href;
            $.post( url, info, 
                function( data ) {
                    $(".spinner").toggle();
                    alert("Success" + url);
                    console.log("Success" + url);
                    window.location = url + code;
                }
            ).fail(
                function(data){
                    $(".spinner").toggle();
                    alert("Error " + data.status);
                    console.log("Error" + url);
                }
            );
            $(".spinner").toggle();
        }
        </script> 
{% endblock %}


{% block content %}
	<div class="pure-g-r">
        <div class="pure-u-1-5" ></div>
        <div class="codeForm pure-u-3-5"> 
			<h1>Line {{ line.code }} - {{ line.name }}</h1>

			Company: {{ line.company }} <br>
			Transport type: {{ line.transport }} <br>
			Code: {{ line.code }} <br>
			Name: {{ line.name }} <br>
			<div style="background-color:{{ line.colour }}">Colour:  {{ line.colour }} </div> <br>

			<h1>ROUTES</h1> <br>

			{% for route in line.routes %}

			---------------------------------------------------<br>
			<p style="margin-left: 30px">
			Route id: {{ route.osmid }} <br>
			Route name: {{ route.name }} <br>
			Route start: {{ route.station_from }} <br>
			Route end: {{ route.station_to }} <br>


			<h2>ROUTE STATIONS</h2> <br>
			<p style="margin-left: 60px">
			{% for station in route.stations %}
			    ({{ station.order }}) {{ station.code }} - {{ station.name }} <br>
			{% endfor %}
			</p>
			</p>
			---------------------------------------------------<br>
	{% endfor %}
			<button class="pure-button" onclick="testCode('accept', true)">I agree</button>
			<button class="pure-button" onclick="testCode('accept', false)">I don't agree</button>
		</div>
	</div>
{% endblock %}

