{% extends "index.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="pure-g-r">
        <div class="pure-u-1-5" ></div>
        <div class="codeForm pure-u-3-5"> 
            <p for="code">Code</p>
            <input class="code" type="code" placeholder="OSM code" maxsize="8">

            <button type="submit" class="pure-button pure-button-primary" onclick="testCode('id', $('input.code').val())">Try!!</button>
            <div class="spinner"></div>
        </div>
    </div>
{% endblock %}