{% extends "index.html" %}

{% block content %}
    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter">
            <a href="{% url 'company' company.code %}">
                <img src="{{ company.logo }}" alt="{{ company.name }} logo">
            </a>
            <a href="{% url 'company' company.code %}">
                <h1>{{ company.name }}</h1>
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="moveon-company column is-half is-offset-quarter is-flex-justify">
        	<p class="code control">Add code
            	<input type="code" placeholder="OSM code" maxsize="8">
            </p>
            <button type="submit" class="button is-primary" onclick="testCode('id', $('input').val())">Try!!</button>
        </div>
    </div>
    
{% endblock %}